#s1 {
  background-color: rgb(54, 95, 33);
}

#s2 {
  background-color: rgb(68, 141, 141);;
}

.section {
  position: relative;
  text-align: center;
  height: 100vh;
}

.headline {
  width: 100%;
  text-align: center;
  position:absolute;
  bottom:5vh;
}
